#flask==2.0.3
#jieba==0.42.1
#scikit-learn==0.24.2
#gunicorn==21.2.0
#redis==4.3.6
#pymysql==0.10.1
#Flask-JWT-Extended==4.4.2

# filename: requirements.txt
#Flask==2.0.3
#Flask-SQLAlchemy==2.5.1
#Flask-JWT-Extended==4.4.2
#Celery==5.2.0b3
#redis==4.3.6
#PyMuPDF==1.19.6
#python-docx==0.8.11
#jieba==0.42.1
#scikit-learn==0.24.2
#gunicorn==21.2.0
#pymysql==0.10.1
#Werkzeug==2.0.3

# requirements.txt （最终稳定版 2026-02-21）
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.7.1
Celery==5.6.2
redis==5.2.1
PyMuPDF==1.27.1
python-docx==1.1.2
jieba==0.42.1
scikit-learn==1.5.2
gunicorn==24.1.0
pymysql==1.1.1
Werkzeug==3.1.3
cryptography==44.0.1
gevent==24.11.1
Flask-WTF==1.2.1
bleach==6.2.0
tinycss2==1.4.0

